:root {
    --primary-color: blue;   
    --secondary-color: #6c757d; 
    --accent-color: #28a745;    

    --base-font-size: 16px;
    --heading-font-size: 2rem;

    --padding: 20px;
    --margin: 10px;
}

body {
    font-size: var(--base-font-size);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: var(--secondary-color);
    background-color: #f0f0f0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: var(--padding);
    text-align: center;
}

h1, h2, h3 {
    color: var(--primary-color);
}

h1 {
    font-size: var(--heading-font-size);
}

section {
    background-color:bisque;
    padding: var(--padding);
    margin: var(--margin);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    background-color: var(--accent-color);
    color:red;
    border: none;
    padding: var(--padding);
    margin: var(--margin);
    border-radius: 4px;
    cursor: pointer;
    font-size: var(--base-font-size);
}

button:hover {
    background-color: blue; 
}


footer {
    background-color: var(--primary-color);
    color: pink;
    text-align: center;
    padding: var(--padding);
    position: absolute;
    bottom: 0;
    width: 100%;
}
